#container1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}
#container2 > div {
  width: 100%;
}
#search_form_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#search_form{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#search_form .form_group{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 5em;
  padding: 1em 2em;
}

h1{
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
}
#contacts_container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
#contacts_container #primary_contact {
  order: 1;
}

#contacts_container .section:not(#primary_contact) {
  order: 2;
}

#bill_of_lading_view > .col {
  padding: 0 2em;
}

#bill_of_lading_view > .col > .row {
  padding: 2em 0;
}

#new_contract_form > .col{
  padding: 0 2em;
}
#info_container {
  margin: 2em 4em;
}
#info_container h3{
  text-align: center;
}
#info_container .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#contracts_table_container{
  margin: 2em auto;
}
#contracts_table_container h3{
  text-align: center;
}
#contacts_table_container{
  margin: 2em 4em;
}
#contacts_table_container h3{
  text-align: center;
}
#contacts_table_container .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#contact_container form {
  width: 80%;
  margin: 0 auto;
}
#contact_container form .row{
  margin: 1em auto;
}
#new_contact_button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#activity_table_container{
  margin: 2em auto;
}
.table {
  width: 100%;
  border-collapse: collapse;
}
.table  thead{
  background-color: #64b37e;
  color: #ffffff;
}
.table th {
  padding: .5em 0;
  text-align: center;
}
.table tbody {
  width: 100%;
}
.table tbody td {
  border: #B2B1AD .12em solid;
  padding: .5em 0;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
}
.table tbody tr:nth-child(2n){
  background-color: #CCCAC6;
}
#activity_table_container h3{
  text-align: center;
}
#activity_table_container #date_picker{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2em;
}
.table_buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2em;
}
#new_contract_form > .col > .row {
  padding: 1em 0;
}
#tickets_table tbody tr:hover{
  background-color: #47825a;
  color: #FFFFFF;
  cursor: pointer;
}
#data_container {
  width: 100%;
}
#data_container h4{
  text-align: center;
  margin-top: 2em;
}
#analysis_container{
  width: 75%;
  margin: 0 auto;
}
#data_container #left-column{
  width: 45%;
}

#data_container #left-column #ticket_info{
  width: 70%;
  margin: 0 auto;
}

#ticket_info div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  flex-wrap: nowrap;
}
#client_info{
  width: 70%;
  margin: 0 auto;
}
#client_info div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  flex-wrap: nowrap;
}

.hidden {
  visibility: collapse;
  height: 0!important;
  padding: 0!important;
}

.dataTables_wrapper tbody tr:hover{
  background-color: #47825a !important;
  color: #FFFFFF;
  cursor: pointer;
}
#table_id tbody tr:hover{
  background-color: #47825a !important;
  color: #FFFFFF;
  cursor: pointer;
}
.hover tbody tr:hover{
  background-color: #47825a !important;
  color: #FFFFFF;
  cursor: pointer;
}
#status {
  position: absolute;
  top: 0;
  right: 3em;
}
#container1{
  display: flex;
  align-items: center;
  justify-content: center;
}
#container2{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding-top: 2em;
}

#contracts_table > tbody tr > td:first-child:hover {
  background-color: #47825a;
  color: #FFFFFF;
  cursor: pointer;
}

#tickets_table > tbody tr > td:first-child:hover {
  background-color: #47825a;
  color: #FFFFFF;
  cursor: pointer;
}


#left_column {
  width: 25%;
}
#left_column p {
  display: inline-block;
  margin: 0 2em;
}
#left_column hr{
  margin: 0 auto;
  padding: 0;
}

#left_column .row{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  vertical-align: text-bottom;
}

#right_column {
  width: 45%;
}
#date_picker{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.visible {
  visibility: visible;
}

#new_user_button {
  margin-bottom: 6em;
}
#client_dashboard {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.dataTables_wrapper {
  width: 100%;
}

#contracts_table th {
  font-size: .7em;
}

#contracts_table td {
  font-size: .7em;
}

.modal-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.modal-footer button {
  margin: .5em;
}

#new_user_form, #new_client_form,#new_ticket_form {
   margin: 0 auto;
  width: 80%;
 }
#new_user_form .row,  #new_client_form .row, #new_ticket_form .row{
  margin: 1em 0;
}
#horizontal_table {
  width: 80%;
  margin: 0 auto;
}
#bill_of_lading {
  width: 80%;
  margin: 0 auto;
}

#bill_of_lading .row {
  margin: .3em 0;
}

#bill_of_lading select {
  margin: 0 1em;
}

#modal_close {
  padding-bottom: 2em;
}

body {
  background-color: #ffffff;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #444444; }

h1, h2 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-bottom: 1.2rem;
  border-bottom: 1px solid #dfdfdf; }

h3, h4, h5, h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif; }

a, a:visited {
  color: #9C7228; }

a:hover {
  color: #6365d2;
  text-decoration: none; }

.nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active {
  background-color: #D49A36; }

h1 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2.4rem;
  font-weight: 600; }

h2 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2.4rem;
  font-weight: 500; }

h3 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.8rem;
  font-weight: 500; }

h4 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  font-weight: 500; }

h5 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  letter-spacing: .1rem;
  font-weight: 600;
  text-transform: uppercase; }

h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: .8rem;
  letter-spacing: .1rem;
  font-weight: 500;
  text-transform: uppercase; }

p {
  color: #7c7c7c;
  font-size: .9rem; }
.card-inverse p {
  color: #fff;
  font-size: .9rem; }
.table td, .table th {
  vertical-align: middle!important;
}
.card h1 {
  border: none;
  margin: 0;
  padding-bottom: .5rem; }

.no-padding {
  padding: 0; }

.clear {
  clear: both; }
.center-block {
  margin: 0 auto;
  text-align: center;
}
.justify-center {
  display: flex;
  align-items: center;
  justify-content: center; }

.text-muted {
  color: #a0a0a0 !important; }

.divider {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #dfdfdf;
  margin: 2rem auto; }
.btn-info {
  background-color: #64b37e !important;
  border-color: #64b37e !important;
}
.btn-info:hover {
  background-color: #47825a !important;
}

.btn-default {
  background-color: #D49A36 !important;
  color: #fff;
}

.btn-default:hover {
  background-color: #9C7228 !important;}

.circle {
  border-radius: 499rem; }
#admin_sub_menu {
  background-color: #64b37e;
}
.jumbotron {
  padding: 3rem 2rem;
  background-color: #f7f7f7;}

.btn-primary, .btn-primary.disabled, .btn-primary:disabled, .btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary.active, .show > .btn-outline-primary.dropdown-toggle, .card-primary, .page-item.active .page-link, .list-group-item.active {
  background-color: #D49A36 !important;
  border-color: #D49A36 !important;}

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
  background-color: #6365d2 !important;
  border-color: #6365d2 !important;}

.btn-outline-primary {
  color: #818e81 !important;
  border-color: #818e81 !important;}

.btn-outline-primary.disabled, .btn-outline-primary:disabled, .btn-link, .text-primary {
  color: #818e81 !important; }

.btn-link:focus, .btn-link:hover, .page-link:focus, .page-link:hover, a.text-primary:focus, a.text-primary:hover {
  color: #fff !important; }

.dropdown-item.active, .dropdown-item:active, .custom-control-input:checked ~ .custom-control-indicator, .custom-checkbox .custom-control-input:indeterminate ~ .custom-control-indicator, .nav-pills .nav-item.show .nav-link, .badge-primary, .progress-bar, .bg-primary {
  background-color: #9C7228 !important;
  background-image: none; }

.nav-pills .nav-link.active, .badge-primary[href]:focus, .badge-primary[href]:hover, a.bg-primary:focus, a.bg-primary:hover {
  background-color: #6365d2 !important;}

.form-control:focus {
  border-color: #9C7228 !important;}
.selected {
  background-color: #9C7228!important;}
.view-button-container button{
  width: 100%;
  text-align: center;}
#admin_button_block {
  padding-bottom: 3em;}
.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff !important;
  background-color: #9C7228;
  border-color: #9C7228;}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #6365d2;
  border-color: #6365d2;}
.modal-lg {
  max-width: 1100px!important;}
.btn-outline-primary, .btn-outline-primary:visited {
  color: #9C7228;
  border-color: #9C7228;
  background: none;}

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active {
  background-color: #9C7228;
  border-color: #9C7228;
  color: #fff;}

.btn-secondary {
  border-color: #7c7c7c;
  background-color: #7c7c7c;
  color: #fff;}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  border-color: #444444;
  background-color: #444444;
  color: #fff;}

.btn-outline-secondary, .btn-outline-secondary:visited {
  color: #7c7c7c;
  border-color: #7c7c7c;
  background: none;}

.btn-outline-secondary:hover, .btn-outline-secondary:focus, .btn-outline-secondary:active {
  border-color: #7c7c7c;
  background: #7c7c7c;
  color: #fff;}

.btn {
  border-radius: 499rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-size: .8rem;
  padding: .75rem 1.25rem;
  cursor: pointer;}

.btn:focus {
  outline: none;
  border: 0;
  box-shadow: none;}

.btn-xs {
  font-size: .6rem;
  padding: .5rem 1rem;}

.btn-sm {
  font-size: .7rem;
  padding: .5rem 1rem;}

.btn-md {
  font-size: .8rem;
  padding: .75rem 1.25rem; }

.btn-lg {
  font-size: .9rem;
  padding: 1rem 1.5rem; }

.btn-subtle {
  border: none;
  background: #f7f7f7;
  color: #9C7228;
  -webkit-appearance: none;
  cursor: pointer; }

.btn-subtle:hover, .btn-subtle:focus, .btn-subtle:active {
  color: #fff;
  background-color: #9C7228;
  outline: none; }

.btn-stripped {
  border: none;
  background: none !important;
  color: #444444 !important;
  -webkit-appearance: none;
  cursor: pointer; }

.btn-stripped:hover, .btn-stripped:focus, .btn-stripped:active {
  color: #9C7228;
  outline: none; }

.dropdown a {
  color: #444444; }

.dropdown a:hover, .dropdown a:active, .dropdown a:focus {
  background-color: #9C7228;
  color: #fff; }

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 20px;
  padding-left: 0;
  padding-right: 0;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
  background: #D49A36; }
  .sidebar a {
    color: #fff;
    text-transform: uppercase;
    font-size: .7rem;
    letter-spacing: .2rem;
    padding: .75rem 1rem; }
  .sidebar em {
    font-size: 1rem; }
  .sidebar h1 {
    color: #fff;
    border: none;
    font-size: 0.9rem;
    padding: 0rem 1rem;
    text-transform: uppercase;
    letter-spacing: .2rem; }
  .sidebar .site-title {
    margin-top: .5rem;
    margin-bottom: 1.75rem; }
    .sidebar .site-title a {
      font-size: .9rem;
      padding-left: 0;
      padding-right: 0;
      cursor: pointer; }
      .sidebar .site-title img {
        width: 90%;
        height: auto;
        margin: 0 auto;}
    .sidebar .site-title a:hover {
      background: none !important; }
  .sidebar .nav {
    margin-bottom: 20px; }
  .sidebar .nav-item {
    width: 100%; }
  .sidebar .nav-item + .nav-item {
    margin-left: 0; }
  .sidebar .nav-link {
    border-radius: 0; }
  .sidebar .logout-button {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 85%;
    text-align: center;
    border-radius: .3rem; }

#wrapper.toggled .sidebar-nav {
  display: none; }

#menu-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem; }

.sidebar a:hover {
  background-color: #9C7228 !important; }

.selected {
  background-color: #9C7228 !important;
}
@media screen and (max-width: 576px) {
  #wrapper .sidebar-nav {
    display: none; }

  #wrapper.toggled .sidebar-nav {
    display: block !important; }

  .sidebar {
    position: inherit;
    padding-bottom: 0px;
    margin-bottom: 1rem; }

  #menu-toggle {
    background-color: #6365d2; } }
@media screen and (min-width: 576px) {
  #wrapper.toggled .sidebar-nav {
    display: block; }

  #menu-toggle {
    display: none; } }
.card-title {
  margin-top: -.25rem;
  padding-bottom: .25rem;
  margin-bottom: 1rem; }

.card-subtitle {
  margin-top: -.75rem;
  padding-bottom: .5rem; }

.card-title-btn-container {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  list-style: none; }

.alert {
  color: #fff; }
  .alert a {
    color: #fff !important; }

.no-left-margin {
  margin-left: 0; }

.page-header {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 0rem;
  margin-bottom: 2.4rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #eee;
  height: auto; }

.profile-photo {
  border-radius: 499rem;
  float: left; }

.username {
  float: left;
  text-align: left;
  margin: 0 0 0 1rem; }
  .username h1, .username h2, .username h3, .username h4 {
    margin-bottom: 0;
    text-transform: none !important;
    letter-spacing: 0 !important; }

.user-dropdown .dropdown-toggle::after {
  margin-top: 1rem;
  margin-left: 1rem; }

.user-progress {
  margin-top: 1rem; }
  .user-progress .profile-photo {
    max-height: 75px;
    max-width: 75px !important; }
