#new_sale
  table
    tbody
      tr
        td:first-child
          font-size: .8em
        select
          margin: 0 .2em
select
  background-color: #CCCAC6
  text-align: center
  font-size: 1em
  padding: .4em 0

.form_group
  max-width: 20em
  margin: 0 auto
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  justify-content: space-between
  align-items: center
  input:nth-child(2)
    font-size: 1em
    background-color: #CCCAC6
    border-radius: .5em
    padding: .5em 0
    margin-left: .5em
.section_header
    text-align: center
