#content_container_1
  width: 90%
  margin: 0 auto 4em auto
select
  background-color: #CCCAC6
  text-align: center
  font-size: 1em
  padding: .4em 0
#new_ticket
  width: 90%
  max-width: 30em
  .form_group
    max-width: 20em
    margin: 0 auto
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    justify-content: space-between
    align-items: center
    input:nth-child(2)
      font-size: 1em
      background-color: #CCCAC6
      border-radius: .5em
      padding: .5em 0
      margin-left: .5em
  .section_header
      text-align: center

table
  tbody
    tr
      td
        padding: 1em 1em
        input
          margin: 0 auto
          padding: .5em
          border-radius: .7em
          width: 75%
