body{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 10em;
    padding: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 0;
}
header table {
    width: 100%;
    margin-left: -20px;
    margin-bottom: 5px;
    padding-bottom: 0;
}
header tr {
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
}

header p {
    font-size: 10px;
}

header td {
    padding: 0 2em;
}

header img {
    width: 10em;
    height: auto;
}

h1 {
    width: 90%;
    margin: -200px auto 0 auto;
    border: 5px solid #000000;
    text-align: center;
    font-size: 15px;
    padding-top: 0;
}
#column_container {
    position: relative;
    margin-top: .5em;
    padding-top: 0;
}

.left_column {
    position: absolute;
    left: 0;
    width: 200pt;
}
.right_column {
    position: absolute;
    right: 20pt;
    width: 200pt;
}
.item {
    padding: .2em 0;
}
.heading {
    display: inline;
    font-weight: 700;
}
.value {
    display: inline;
}
#product_column .item {
    padding: .5em 0;
}
#address_line_2 {
    margin-left: 5em;
    line-height: .2em;
}
#shipment {
    padding-right: 5em;
}
#start_date {
    padding-right: 3em;
}
#top_right .item {
    padding: 1em 0;
}

#seller_hr {
    margin-top: 10em;
}

#seller_agreement {
    text-align: center;
    font-size: .5em;
    margin-bottom: .5em;
}
#seller_agreement p {
    margin-right: 1em;
    margin-left: 1em;
}
.agreement_header {
    font-weight: 700;
    padding: 0;
    margin: .6em 0 0 0;
    line-height: .5em;
}

.line {
    position: relative;
    margin-bottom: 0;
    display: inline-block;
}
.sub {
    display: inline-block;
    font-size: .9em;
    padding: -.7em 0 1em 0;
    text-align: right;
    width: 100%;
    margin-bottom: 0;
    margin-top: -3em;
}

.sign_header {
    margin-bottom: 2em;
    display: inline-block;
    padding-top: -1em;
}

#right_signature {
    position: absolute;
    right: 20pt;
    width: 190pt;
    text-align: right;
}
#agreement {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: .6em;
    text-align: center;
}

#agreement p {
    margin-right: 1em;
    margin-left: 1em;
}
