
.options > .col
  width: 95%
  margin: 0 auto
  text-align: center
  button
    margin: 0 auto

.options > .col .row
  margin-top: .5em
  border-bottom: #000000 .1em solid
  padding: .5em 0

.options > .col .row .col
  margin: .2em auto
  padding: 0

.options h4
  font-weight: 700
  font-size: 1.5em

.options p
  font-size: 1em
  input
    padding: .2em 1em
    -webkit-border-radius: .5em
    -moz-border-radius: .5em
    border-radius: .5em
    border: #64b37e .12em solid
    font-size: 1.2em
  select
    padding: .2em 1em
    -webkit-border-radius: .5em
    -moz-border-radius: .5em
    border-radius: .5em
    border: #64b37e .12em solid
    font-size: 1.2em
#user_data
  input
    font-size: .9em
    padding: .3em .5em
    border-radius: .5em
