#user_table
  thead
    tr
      th:nth-child(5)
        padding: 0 .2em
  tbody
    tr
      font-size: .8em
      cursor: pointer
      td
        padding: 1em 0
    tr:hover
      background-color: #64b37e
      color: #fff
