.btn
  width: 10em
  height: 3em
  color: #FFFFFF
  border: none
  -webkit-border-radius: 1em
  -moz-border-radius: 1em
  border-radius: 1em
  cursor: pointer

.btn-primary
  background-color: #D49A36

.btn-primary:hover
  background-color: #9C7228
