#content_container_1
  .row
    flex-direction: row
    justify-content: space-around
    button
      font-size: .9em

#table_options_container
  width: 100%
  margin-top: -2em
  #search_box_container
    width: 60%
    margin: 0 auto
    max-width: 30em
    input
      width: 95%
      padding: .4em 2%
      text-align: center
      font-size: 1.2em
      border: #D49A36 .12em solid
      border-radius: 1em
      margin: 0 auto
  #search_form_container
    width: 90%
    max-width: 40em
    margin: 0 auto
    background-color: #CCCAC6
    border-radius: .5em
    h4
      padding-top: 1em
      text-align: center
    #search_form
      width: 100%
      display: flex
      flex-direction: row
      flex-wrap: wrap
      justify-content: space-around
      align-items: center

      .form_group
        display: flex
        flex-direction: row
        flex-wrap: nowrap
        align-items: center
        //justify-content: space-around
        input
          width: 2em
          height: 2em
        h5
          margin: .5em auto
#data
  width: 90%
  margin: 2em auto 0 auto
  .table
    tr
      td:first-child
        display: none
      th:first-child
        display: none
#content_container_3
  width: 90%
  margin: 0 auto
  text-align: center
  h4
    font-size: 1.5em
  h6
    font-size: 1em
  table
    tr
      td:first-child
        display: none
      th:first-child
        display: none
