#login_form
  display: flex
  flex-direction: column
  flex-wrap: nowrap
  justify-content: space-around
  align-items: center
  text-align: center
  width: 100%

  .form_group
    width: 100%

    input
      width: 85%
      height: 3em
      border-radius: 1em
      font-size: 1.1em
.login_button
  text-align: center
  margin: 0 auto
  width: 10em
  height: 3em
  border-radius: 1.3em
  font-size: 1.1em
  border: none

#submit
  margin-top: 3em
  background-color: #D49A36
  color: #FFFFFF

#f_password
  background-color: #64b37e
  color: #FFFFFF
  margin-top: 1.5em
