.table
  width: 100%
  border-collapse: collapse
  thead
    background-color: #64b37e
    color: #ffffff
    width: 100%
    th
      padding: .5em 0
  tbody
    width: 100%
    td
      border: #B2B1AD .12em solid
      padding: .5em 0
      text-align: center
      user-select: none
      -webkit-user-select: none
    tr:nth-child(2n)
      background-color: #CCCAC6
