#user_dropdown
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  align-items: center
  width: 100%
  text-align: center
  h2
    width: 100%
#user_image
  height: 200%
  width: 200%
#user_menu
  border-radius: 80em
  border: #64b37e .15em solid
  box-shadow: #000 0 0 .5em
  height: 3em
  width: 3em
  overflow: hidden
  display: flex
  justify-content: center
  align-items: center
  background-color: #64b37e
#close_button
  height: 100%
  width: 100%
  font-size: 3em
  display: none
  justify-content: center
  align-items: center

h1
  text-align: center
  width: 100%
  background-color: #64b37e
  padding: 1em 0
  color: #FFFFFF
  margin-top: -.1em
  box-shadow: none
  border: none
  font-size: 1.5em
