//MAIN
body
  width: 100%
  display: flex
  flex-direction: column
  flex-wrap: nowrap
  padding: 0
  margin: 0
  overflow-x: hidden
  font-family: 'Montserrat', sans-serif

h3
  font-family: 'Montserrat', sans-serif
h5
  font-size: 1.2em
.hidden
  display: none
//MENU
#menu
  width: 100%
  display: flex
  flex-direction: column
  flex-wrap: nowrap
  position: fixed
  top: 0

#menu_button
  height: 2em
  width: 3em
  display: flex
  flex-direction: column
  flex-wrap: nowrap
  justify-content: space-around
  margin-right: 1em
  align-items: center
  cursor: pointer
  @media only screen and (min-width:1000px)
    display: none

//hamburger menu
.bar
  height: .3em
  width: 100%
  background-color: #FFFFFF
  -webkit-border-radius: 5em
  -moz-border-radius: 5em
  border-radius: 5em

//logo
#logo_container
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  justify-content: space-between
  align-items: center
  height: 4em
  background-color: #D49A36
  box-shadow: #000 0 0 .5em
  width: 100%
  color: #FFFFFF
  -webkit-transition: all .2s
  -moz-transition: all .2s
  -o-transition: all .2s
  transition: all .2s

#logo_container > img
  height: 3em
  margin: .5em

//logged in navigation
nav
  top: 4em
  width: 75%
  position: fixed
  left: -79%
  background-color: #D49A36
  color: #FFFFFF
  -webkit-transition: all .2s
  -moz-transition: all .2s
  -o-transition: all .2s
  transition: all .2s
  -webkit-border-radius: 0 .5em .5em 0
  -moz-border-radius: 0 .5em .5em 0
  border-radius: 0 .5em .5em 0
  @media only screen and (min-width:1000px)
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    justify-content: space-between
    align-items: center
    left: 15%
    top: 1em
    background-color: transparent
    width: 75%
    right: 10%

.menu_item h3
  z-index: 2000
  text-align: center
  margin: 0 auto
  padding: .5em 0


.menu_item h3:hover
  background-color: #9C7228

.submenu
  height: auto
  overflow: hidden
  -webkit-transition: all .2s
  -moz-transition: all .2s
  -o-transition: all .2s
  transition: all .2s
  @media only screen and (min-width:1000px)
    position: absolute
    top: 3em
    padding: 1em
    background-color: #64b37e
.sub_item
  height: 0
  margin: 0
  padding: 0
  z-index: 1000
  -webkit-transition: height .2s
  -moz-transition: height .2s
  -o-transition: height .2s
  transition: height .2s
  text-align: center
  background-color: #64b37e
  display: flex
  flex-direction: column
  justify-content: center
  font-family: 'Montserrat', sans-serif
  @media only screen and (min-width:1000px)
    padding: .2em .5em
    width: 100%
    background-color: transparent
    border: none

//sign out
#sign_out_container
  display: none

//CONTENT CONTAINER
#content_container
  margin-top: 4em

#content_container_1
  display: flex
  flex-direction: column
  flex-wrap: nowrap
  align-items: center


.main_table
  width: 95%
  margin: 0 auto
  th
    font-size: 1.3em
    font-weight: 700
    text-align: center
  tbody tr
    cursor: pointer
  tbody tr:hover
    background-color: #64b37e
    color: #FFFFFF

//COLUMNS
.row
  display: flex
  flex-direction: column
  justify-content: center
  width: 100%
.col
  display: flex
  flex-direction: column
  align-content: center

@import "user_dropdown"
@import "login"
@import "buttons"
@import "table"
@import "dashboard"
@import "user/user_table"
@import "user/options"
@import "tickets/new"
@import "sale/new"
